.loginForm {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    width: 20%;
    border: 1px solid white;
    border-radius: 0.5rem;
    padding: 1rem;

    h2 {
        margin-bottom: 2rem;
    }

    label {
        display: flex;
        color: white;
        font-weight: bold;
        align-self: flex-start;
    }

    input {
        font-weight: bold;
    }

    input:hover {
        background-color: rgb(94, 184, 248);
    }

    button {
        border-radius: 5px;
        color: black;
        font-size: medium;
        background-color: white;
        border: 2px solid white;
        width: 100%;
        margin-top: 1.2rem;
    }

    button:hover {
        color: black;
        font-weight: bold;
        background-color: rgb(94, 184, 248);
    }
}