.weatherGeneralContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 10rem;

  h3 {
    color: black;
    text-decoration: underline;
    margin-bottom: 1rem;
  }

  .daysGeneralContainer {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .dayItem {
      color: black;
      cursor: pointer;
    }

    .dayItem:hover {
      opacity: 0.5;
    }

    .daySelected {
      color: darkgray;
      text-decoration: underline;
    }
  }

  .swiperCont {
    display: flex;
    justify-content: center;
    align-items: center;

    .weatherSwiperGeneral {
      width: 700px;
      height: 300px;

      .swiperSlide {
        text-align: center;
        font-size: 18px;

        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;

        .slideCont {

          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 30rem;
          background-size:cover;
          background-repeat: no-repeat;

          .slideText {
            padding: 1rem 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid white;
            border-radius: 0.5rem;
            background-color: rgba(255, 255, 255, 0.5);

            h4,
            p {
              color: black;
            }
          }

        }
      }
    }
  }
}

@media (max-width: 720px) {
  .daysGeneralContainer {
    max-width: 500px;
  }
}

@media (max-width: 425px) {
  .daysGeneralContainer {
    max-width: 350px;
  }
}